language: elixir
elixir:
  - 1.1.0
  - 1.2.0
otp_release:
  - 17.4
  - 18.1
env: MIX_ENV=test
sudo: false # faster builds
notifications:
  email: false
script:
  - mix compile --warnings-as-errors
  - mix test
  - mix dogma
